[2017-04-27 05:58] Trigonometry opened #1 "Installation on Windows"
At first I want to say thanks for this great **improvement** to directly fast-read and extract content-parts in huge gzip-compressed files. **_igzip.IndexedGzipFile()_** should be the new standard instead of **_gzip.open()_** Installation and testing on Linux works like a charm, but ...
I am mainly writing and testing python-programs on JetBrains pyCharm on a Windows platform but this specific pyt

[2017-04-27 14:39] zrajna commented on #1
This seems to be a MS Visual C compiler specific issue.
 - It does not have a /Wno-unused-function flag.
 - In Windows the determination of read-only file state is a bit different, it needs to be implemented separately (zran.c:468). See discussion here for example: http://stackoverflow.com/questions/4636875/on-windows-mingw-what-is-the-equivalent-of-fcntlfd-f-getfl-o-accmode

[2017-04-27 20:38] pauldmccarthy commented on #1
Huh, Windows support hadn't even crossed my mind! Unfortunately I don't have access to a Windows machine either, and know absolutely nothing about developing on/for Windows.

@Trigonometry, would it be possible to try compiling with GCC, as @zrajna suggested? I would like to avoid adding any nasty `#ifdef`s into the code if at all possible.

[2017-04-28 10:07] Trigonometry commented on #1
Thank you both for the quick answers. With a little digging and the links you provided I could get rid of most of the Compiling Errors and ignored the possible loss of data during type conversation warnings. I attached the rewriting process in a plain txt file because inserting and reformating it here would be too much (for me and for you).

[rewrite_win.txt](https://github.com/pauldmccarthy/index

[2017-04-29 16:26] Trigonometry commented on #1
The last problem seems to be a bit difficult. The reason for the unresolved external symbols is an outdated win32 precompiled zlib.lib file from zlib v.1.2.3 (year 2005) which didn't contain the functions mmap and munmap back in the days. I was able to reproduce similar unresolved externals errors when I re-attempt at home on a 64bit Windows:

unresolved external symbol inflateSetDictionary refere

[2017-04-30 11:53] pauldmccarthy commented on #1
The `mmap`/`munmap` calls are actually only used in the test cases, so you might have some success just by disabling their compilation.

But, more generally, I'm not really able to make the changes in your proposed patch, because I don't have a windows machine to test on. I would really need a PR which passes tests on all platforms...

[2017-04-30 16:21] Trigonometry commented on #1
No problem at all .. :-) I just got it working. As soon as the code was modified, I was at least able to cythonize the extensions and generate the .egg. With the generated indexed_gzip.c it was only 2 commands and a few steps aways for a system integration:

**python -m pip install ./indexed_gzip_master**
Processing ..\indexed_gzip-master
Installing collected packages: indexed-gzip
  Running setup

[2017-05-01 08:32] pauldmccarthy commented on #1
Nice work ... it would be great if you could share the changes that you have made, so that I (or somebody else) might be able to add Windows support in the future.

[2017-05-02 09:09] Trigonometry commented on #1
Okay .. Here we go again with an even simplier solution with only 3 changes in 2 files to make using a different compiler .. :-)

### setup.py ###
50: **have_numpy  = False**
### to avoid compiling tests, which fail

78/88/95: **# extra_compile_args=['-Wno-unused-function']**
###  comment out, unrecognized option in Windows

### zran.c ####
468: - if ((fcntl(fileno(fd), F_GETFL) & O_ACCMODE) != O_

[2017-05-19 04:39] Trigonometry commented on #1
Sorry for the downtime but I was busy installing 2x 64bit Systems on a more powerful PC to be able to index large gz-Files by myself on Linux and Windows since we stumbled across 2 weird behaviors on 32bit, which we thought would be fixed on 64bit but that was not the case. I just updated the latest working attempt on a 64bit-System that should work on any 64bit Windows now in the previous comment

[2017-09-06 13:11] matthew-brett commented on #1
@cgohlke - do you have any interest in this package? (we're considering it as an optional dependency for nibabel).  Can you help with the compilation?  Thanks much.

[2017-09-22 15:15] pauldmccarthy commented on #1
This is being addressed in #3 - hopefully I'll merge it in this weekend.

[2017-10-03 13:00] boegel opened #4 "source tarball available on PyPI is missing zran.h?"
I was trying to build indexed_gzip from source, but I ran into the following error message:

[code]

It turns out that `zran.h` isn't included in the source tarball available through PyPI, but it is available in the repository, and hence also in the tarball provided by GitHub for the tagged release.

I presume that's not intentional?

[2017-10-03 13:03] pauldmccarthy commented on #4
Aah - no that is not intentional, thanks for pointing it out. I am planning to do a new release in the next day or so, so will make sure this is fixed!

[2017-10-04 09:53] pauldmccarthy commented on #1
While I haven't tested it myself (I don't have a windows machine), the unit tests are passing on appveyor, so I'm going to close this issue for the time being..

[2017-10-04 09:53] #1 closed

[2017-10-04 20:55] pauldmccarthy commented on #4
This should be resolved as of the latest version, 0.6.1 - thanks!

[2017-10-04 20:55] #4 closed

[2017-10-27 00:19] effigies opened #5 "Closing files between reads"
The main thing that's important about `indexed_gzip` is a persistent index. Would it possible to (at least optionally) move to a model in which the file is opened at the beginning of read calls and closed at the end?

This would go some way toward making it a more comfortable drop-in for nibabel. (I suspect some of what we've been seeing over at fmriprep has been filehandle exhaustion appearing as

[2017-10-27 09:56] pauldmccarthy commented on #5
This is a good idea, and I'm not sure why I didn't build this into the design from the beginning. I will have a play around with #6 to see if it breaks any of the tests. Thanks!

[2017-10-31 19:41] #5 closed

[2018-03-19 16:36] ozars opened #7 "Exporting/importing indexes to/from a file"
Hello,

I was looking for a way to export gzip file indexes to a file and import it for later invocations of IndexedGzip class. That is, I want to save created indexes to a file and load it later. I looked into the documentation and code, but I couldn't figure it out. Can I do it somehow?

In my case gzip files are historical, i.e. they don't change at all. It makes sense for me to precompute 32KB

[2018-03-19 19:05] pauldmccarthy commented on #7
This is a good idea - it's something that I had thought about, but haven't gotten around to doing yet (I have no need for it personally).

I'll try and find some time to have a play this week. Initial inspection suggests that I might be able to simply dump out the contents of the `zran_index_t` struct (at the C level, not in Python), so it will hopefully not be too difficult.

[2018-03-19 21:21] ozars commented on #7
Thanks for the prompt answer.

I'm going through the code at the moment. These are what I inferred from the code so far:

It may be better to have a python interface with two methods like `get_current_seek_point()` and `add_seek_point(...)`. This gives explicit control to the user about how to serialize/deserialize seek points as well as where to create them. So, it takes burden of serializing and

[2018-03-19 22:29] pauldmccarthy commented on #7
Adding an `add_seek_point` function could work. You will need to use the `_zran_expand_index` function to do the heavy lifting, rather than calling `_zran_add_point` directly - you can't just add a seek point anywhere - they need to be on a compression block boundary.

To support variable spacing, it might make sense to refactor `_zran_expand_index` so that, rather than using the fixed `zran_index

[2018-03-20 01:31] ozars commented on #7
Got it, thanks... I wanted to align seek points with head of structs in uncompressed data. I realized it is not feasible due to block boundaries then. Variable spacing doesn't make sense in this case.

I can work on import/export if you are busy though. I still need that part. :)

[2018-03-20 09:42] pauldmccarthy commented on #7
Well you can place seek points at _approximate_ locations throughout the file. In principle, there is no limit to the size of a compression block (a.k.a. deflate block - ref: http://www.gzip.org/zlib/rfc-deflate.html#overview), but in practice they generally aren't very big. Not sure if that is useful for your needs..

[2018-03-24 16:45] #7 closed

[2018-06-08 08:55] alexgarel opened #9 "Mismatch between documentation and API"
First of all a big thank you for this project !
In the documentation, section [Index Import/Export](https://github.com/pauldmccarthy/indexed_gzip#index-importexport) we have:

[code]
but the `IndexedGzipFile` does not have the `build_full_index` and `export_index` methods, they are only available on `_IndexedGzipFile`

So either, the API should evolve to get those functions on `IndexedGzipFile`, e

[2018-06-08 09:01] pauldmccarthy commented on #9
Hey @alexgarel, thanks for the report! This is an oversight on my part - those methods should definitely be available on the `IndexedGzipFile` class. I'll try and fix this today.

[2018-06-08 15:12] pauldmccarthy commented on #9
I have fixed this in the master branch, but am having trouble with travis-ci. I'll keep this issue open until I can get a new version (0.8.3) released.

[2018-06-11 15:50] pauldmccarthy commented on #9
This should be fixed in 0.8.4 - thanks, and let me know if you spot anything else!

[2018-06-11 15:50] #9 closed

[2018-06-24 14:05] yarikoptic opened #10 "AttributeError: 'GeneratorContextManager' object has no attribute 'next'"
Discovered while building updated package for NeuroDebian -- Have you encountered following issue on the older (eg. Debian stable with python 2.7.13 and Ubuntu 17.10 with python 2.7.14) systems (ok on newer with 2.7.15)?

[code]
(many other tests fail similarly).  Any immediate clues?

[2018-06-24 22:51] pauldmccarthy commented on #10
Very strange ... it could be a cython issue - I just stumbled across cython/cython#1750, which has a comment that lists the same error.

I'm away from my desk right now, but wll look into this when I'm back on tuesday.

[2018-06-25 00:07] yarikoptic commented on #10
Ah, that could be it since we indeed do not  provide cython backports in NeuroDebian... If there would be no easy way around this issue,  I will look into shipping "precompiled" pyx files for older cython

[2018-06-26 14:56] pauldmccarthy commented on #10
@yarikoptic - I reproduced this on my mac (python 2.7.13+cython 0.25.2),  and tried the fix suggested at https://stackoverflow.com/a/44738561 (second part of that answer). It seems to work for me, and travis-CI is currently running the full test suite - mind giving it a go? If it works for you I'll get a bugfix release out this week.

The fix is on the `bf/cython_generatorcontextmanager_bug` branc

[2018-06-26 15:27] yarikoptic opened #11 "is stderr expected/normal?"
There is a bugreport in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=901764  which points that tests produce output to stderr, which is by default a sign of trouble to autopkgtest in debian.  I just want to confirm with you that it is all Ok: here is a sample output https://ci.debian.net/data/autopkgtest/unstable/amd64/i/indexed-gzip/495403/log.gz

[2018-06-26 15:38] pauldmccarthy commented on #11
It all looks ok to me - Cython tends to produce code that induces warnings on every platform I have used it on. I'm not enough of a Cython expert to know whether it is a cause for concern.

The `warning: unused variable ‘doff’` warning is referring to a variable that is only declared if a `ZRAN_VERBOSE` debug macro has been defined, so it seems that the warning is being incorrectly raised.

[2018-06-26 15:39] pauldmccarthy commented on #11
Aah - I just realised that I have `-Wall -pedantic` in `setup.py`. Perhaps I should tell the compiler to relax a little :)

[2018-06-26 18:00] yarikoptic commented on #10
Confirming that it did resolve those build failures on my end.  I am ready to build final -2 revision for debian with the patch, or could wait for your release if you are planing to release some time soon with that change.  Just let me know

[2018-06-26 20:58] pauldmccarthy commented on #10
I should be able to get an 0.8.6 release out tomorrow!

[2018-06-26 21:20] yarikoptic commented on #10
cool, then I will just wait to not proliferate versions of the package ;-)  although it is all ready to be uploaded

[2018-06-26 21:21] yarikoptic commented on #10
actually may be I will upload regardless to see if debian ci issue gets resolved -- may be there is more to it

;-)

[2018-06-27 07:30] pauldmccarthy commented on #10
Fixed as of v0.8.6 - should be up on pypi in the next few hours!

[2018-06-27 07:37] #10 closed

[2018-06-27 11:13] pauldmccarthy commented on #11
Actually, I wouldn't mind leaving `-Wall -pedantic` in, as it applies to my own code as well - I don't think I have fine-grained enough control to set different compiler flags for cythonized versus C code.

As long as this is not a problem for you!

[2018-06-27 12:09] yarikoptic commented on #11
I am fine with it! No worries

[2018-06-27 12:11] yarikoptic commented on #11
Fwiw I just adjusted config to ignore stderr and we are green now https://ci.debian.net/packages/i/indexed-gzip/

[2018-06-27 12:11] #11 closed

[2018-06-27 14:06] yarikoptic commented on #10
thanks, cheers!

[2018-10-03 13:13] TheChymera opened #12 "Tests fail with fixtures not found"
I get over [40 test failures](http://bpaste.net/show/846def09e854) which all look something like the following:

[code]

Am I missing some deps? The package doen't really list deps, does it? However, I see in `.travis.yaml` that you install cython? Is that needed to compile

[2018-10-03 14:27] pauldmccarthy commented on #12
Yes - `indexed_gzip` needs Cython. Numpy is also needed to run the tests, as mentioned in the readme - I'm guessing this is why the tests are failing for you.

[2018-10-03 14:32] TheChymera commented on #12
@pauldmccarthy sadly that can't be it (I was jsut asking so that I know what to add to the dependency list). My system, however, already has these packages installed, so it must be something else. Any idea what? what is the `testfile` fixture and what is supposed to provide it?

[2018-10-03 14:45] pauldmccarthy commented on #12
It's a file which can be specified on the command line as a `--testfile` argument to `pytest`. If not provided it should be automatically generated. How are you invoking pytest?

[2018-10-03 21:29] TheChymera commented on #12
@pauldmccarthy inspired by your [`run_tests.sh`](https://github.com/pauldmccarthy/indexed_gzip/blob/06bb08f035505426de622ad3865e8d33f6f5c4d3/.ci/run_tests.sh#L31):

[code]

`python setup.py develop;` isn't really needed, since, as you can see in the log, the software already got built in the ${BUILD_DIR}.

No `testfile` is anywhere in the build directories, but there is a `compat` (though both “fi

[2018-10-04 15:01] pauldmccarthy commented on #12
`testfile` is the name of the argument - the file will have a different name. It is created in a file called `conftest.py` in the root of the source tree. It looks like `pytest` is not finding this file - have you included it in your packaging? `pytest` is a bit finnicky about where `conftest.py` can be located, so I was unable to put it inside the `indexed_gzip/tests/` directory.

[2018-10-05 12:32] TheChymera commented on #12
@pauldmccarthy ok, testing with:

[code]

did the trick. Thank you :)

[2018-10-05 12:32] #12 closed

[2018-11-09 21:09] sanjayankur31 opened #13 "ModuleNotFoundError: No module named 'indexed_gzip.indexed_gzip'"
Downloading the source from pypi and installing it in a virtual env doesn't  make the module available. I've followed the usual steps ([as the build log shows](https://github.com/pauldmccarthy/indexed_gzip/files/2567506/build.txt)), but the module does not load correctly.

Could you have a look to see what I'm missing?

[2018-11-10 16:58] pauldmccarthy commented on #13
Hey @sanjayankur31, I think your `pwd` is confusing Python - it is trying to import the contents of `./indexed_gzip/`, but the compiled modules are in `./build/` (and also in `$VIRTUAL_ENV/lib/python3.7/site-packages/`)

A better option may be to use `python setup.py develop` instead of `python setup.py install`, so the compiled modules get installed into the working directory e.g.:

[code]

[2018-11-10 19:01] sanjayankur31 commented on #13
Ah, right, but if the compiled modules are correctly installed in `site-packages`, shouldn't that be sufficient? One shouldn't have to run `python setup.py develop` to run tests generally.

This seems to be related to the location of `conftest.py`, which makes `pytest` [modify sys.path](https://stackoverflow.com/questions/34466027/in-py-test-what-is-the-use-of-conftest-py-files).

[2018-11-11 20:10] pauldmccarthy commented on #13
I didn't specifically write the tests so that they could be executed from an installed version of `indexed_gzip` (at least not via `pytest`). I run the tests from my development directory (and do the same in my CI testing).

The test modules do get installed (at `$VIRTUAL_ENV/lib/pythonX.X/site-packages/indexed_gzip/tests/`), so if you can coerce `pytest` to run the tests from there (after changin

[2018-11-15 21:34] effigies opened #14 "Valid .gz files causing zran_seek errors"
As noted in poldracklab/fmriprep#1387, the following file can be opened and read without `indexed_gzip` installed:

https://github.com/poldracklab/fmriprep/files/2586993/vol0109_xform-00109.nii.gz

However, it causes the following error when `indexed_gzip` is installed (tested on 0.8.2 and 0.8.7):

[code]

[2018-11-21 20:54] pauldmccarthy commented on #14
@effigies, sorry for the delay. I think I know what's going on - the size of the uncompressed data is smaller than the default index spacing!

I'll code up a fix and hopefully get a bugfix release out tomorrow.

[2018-11-21 22:09] pauldmccarthy commented on #14
Isn't it suspicious that the compressed size is exactly 2MB ...

[2018-11-21 23:31] pauldmccarthy commented on #14
Hey @effigies, if you can get a hold of any other files which are causing failures, please send them my way!

[2018-11-22 19:36] #14 closed

[2018-11-23 10:01] pauldmccarthy commented on #14
Sorry for the delay - 0.8.8 should be up on pypi within the next 30 minutes or so!

[2019-03-09 17:43] mxmlnkn opened #17 "Missing pip install dependencies?"
First Try:

[code]

Second try after `pip3 install setuptools`:

[code]

Third try after `pip3 install wheel`:

[code]

[2019-03-10 12:30] pauldmccarthy commented on #17
Hey @mxmlnkn, can you give some details about your environment, e.g. OS, Python version, type of Python installation? Both `setuptools` and `wheel` are a standard part of any modern Python installation, in particular if you are using `conda` or `virtualenv` to  manage your Python environment.

I can't explicitly list them as dependencies, as they are used for building/installing `indexed_gzip` - i

[2019-03-10 13:00] mxmlnkn commented on #17
[code]

Yes, as you can see I used pip3 for a Python3 installation. I'm not using conda or virtualenv just the debian package manager.

I tried to hack together a singularity container definition file to reproduce the problem but that works without problems:

[code]

To be built with `sudo singularity build testIndexedGzip.{sif,def}`.

Btw, as you can see for python3, as it is installed from sourc

[2019-03-10 13:08] pauldmccarthy commented on #17
Right, so if I had provided 3.7 binaries, you would never had had this problem - I'll make them available shortly, so this hopefully won't happen again.

I also suspect that both the `setuptools` and `wheel` problems would go away if you updated `pip` (either via `pip3 install --upgrade pip` or possibly via `apt`? I don't know the "right" way to do things when using an OS package manager) before t

[2019-03-11 12:58] pauldmccarthy commented on #17
Python 3.7 builds are now up on pypi - so if you try `pip3 install indexed_gzip`, it should now download the binaries, rather than compiling from source.

[2019-03-11 12:58] #17 closed

[2019-03-13 15:16] pauldmccarthy commented on #17
@mxmlnkn I just came across this, which might make things a bit clearer: https://packaging.python.org/tutorials/installing-packages/

[2019-05-09 15:12] pomidoroshev opened #18 "f.export_index() does not work properly after f.read()"
Hi! I have a problem with exporting index after reading gzip file.

The problem is that exported file is almost empty (35 bytes) after just reading the entire source gzip without using `f.seek()`. So this index is just unusable.

Small script that reproduces this problem:

[code]

But if I put `f.seek(f.tell() - 1)` right before `f.export_index()`, everything works great.

Is it supposed to work l

[2019-05-10 08:28] pauldmccarthy commented on #18
Hey @pomidoroshev this looks like a bug - I'll take a look as soon as I can..

[2019-05-13 09:36] pauldmccarthy commented on #18
HI @pomidoroshev, the crux of the problem is that your test file is too small! `indexed_gzip` is designed to work with much larger files - it creates an index point for every 4MB of compressed data. But your compressed file is only 94 bytes compressed, 40k bytes uncompressed.

In your test case (thanks for providing that, btw), the `.index` file generated by `export_index` is valid - it just doesn

[2019-05-14 09:19] pomidoroshev commented on #18
Hi Paul,

Oh, I see. My tool works with large gzip logs, and it creates another index by row date. I decided to read file line by line and export index at the end of the process, assuming this always works:

https://github.com/pauldmccarthy/indexed_gzip/blob/49c8b8e76132381e870a926f764cda3275fd19ce/indexed_gzip/indexed_gzip.pyx#L147-L148

But my test suite failed, because of small test files.

You

[2019-05-14 10:49] pauldmccarthy commented on #18
After digging deeper, and reminding myself how the code works, I realised that you should not rely on the `read` method to build the index - it will only get built when you `seek`, regardless of the vaue of `auto_build`. I'll update the docs to explain this.

But, regardless, if you want to pre-generate an index, the neatest way is probably via the `build_full_index` method, e.g.:

[code]

The bug

[2019-05-14 11:47] pomidoroshev commented on #18
Yes, I used it before. But then I decided to build gzip index and my own date index in parallel during line-by-line reading.

[2019-05-14 11:51] pauldmccarthy commented on #18
Right, fair enough.  So I guess you will need to stick with `seek`/`read` pairs for the time being.

It's been a while since I wrote the relevant code (and it's quite complicated), so I'm still not sure why I'm not building the index on `read`. I will look into this when I get a chance, to see if I can change this behaviour, although it won't be today.

[2019-05-14 13:04] pomidoroshev commented on #18
It's ok, indexed_gzip is still the best, thank you!

[2019-05-14 17:18] #18 closed

[2019-10-19 21:32] sandrotosi opened #21 "fix tests for pytest 4+"
Hello,
i just applied this patch to make tests work on newer pytest, 4+
[code]

[2019-10-19 21:32] sandrotosi commented on #21
https://docs.pytest.org/en/latest/deprecations.html#calling-fixtures-directly

[2019-10-20 11:34] pauldmccarthy commented on #21
Thanks! But it looks like you might have been working against an older version - this has been fixed in `indexed_gzip` since version 0.8.8 ..

[2019-10-20 14:47] sandrotosi commented on #21
ouch, i even looked but i did not notice. ok sorry for the noise

[2019-10-20 14:47] #21 closed

[2019-12-02 09:14] flegeai opened #22 "Performance issue with large data file and distant seek point"
Hi,
I am trying to use your library on very large genome sequences files (fastq.gz). My program is  extracting groups of reads from a position in the gz file. Previously, I've stored the position in a db. Thus, in my program, I open the fastq.gz file as a igzip.IndexedGzipFile, and seek directly at the position where is the group of reads I'd like to extract.

But it appears that I can get rapidly

[2019-12-02 09:16] pauldmccarthy commented on #22
Have you tried pre-generating an index, as outlined here?

https://github.com/pauldmccarthy/indexed_gzip#index-importexport

[2019-12-03 08:02] flegeai commented on #22
As you mentioned,  I pre-generate the index,  then it works much faster.
Thanks a lot!

Fabrice

[2019-12-03 08:02] #22 closed

[2019-12-07 08:38] lmdu opened #23 "zlib inflate failed invalid block type"
Hi,
Thank you for developing a such nice tool. Recently, I used zran.c and zran.h in my project. I used GCC 8.0.1 in mingw64 to compile code on Windows. It works well with Python3 on Windows. However, it can not work with python2.7. I opened zran_log and recompiled the code. zran_log gives a message:

[code]

On Linux, it works well for python2.7. Do you have any suggestions. Thank you again

[2019-12-09 09:57] pauldmccarthy commented on #23
Unfortunately I don't have a Windows machine that I can test/debug on, so there's little to no chance that I can solve this on my own. If you could share the `.gz` file which triggered the error, I'll try and reproduce it though.

Also note that Python 2.7 is also being EOLed at the end of 2019 (22 days from now), so you really should consider working with Python 3 exclusively.

[2019-12-12 07:51] netrix opened #24 "Support for Python 3.8"
Please add support for Python 3.8 in `.travis.yml`

[2019-12-15 06:36] pauldmccarthy commented on #24
Sure; I'm planning to do a 1.0.0 release at some point (a symbolic rather than functional version bump), so will add 3.8 binary builds when I get around to doing that.

[2019-12-15 13:23] lmdu commented on #23
Although Python 2.7 is being end of life, it is important for us to performing biological analysis. I have tried many ways to solve this problem, however, nothing changed. I really hope you can help us. Thank you! I have attached the gzip file that triggered the error.
[test.fa.gz](https://github.com/pauldmccarthy/indexed_gzip/files/3964955/test.fa.gz)

[2019-12-18 22:19] pauldmccarthy commented on #23
Unable to reproduce the issue on py27/linux (as you have already reported). However, I may have access to a Windows 10 machine in the coming days to test on. What version of Windows are you using?

[2019-12-19 01:58] lmdu commented on #23
Thank you for your reply. I'm using Windows 10. You can test the code on Appveyor with python2.7. The zran_read may return a messy code.

[2019-12-26 00:50] pauldmccarthy commented on #23
I set up a Python 2.7.17 test environment on Windows 10 using conda, and
unfortunately couldn't reproduce your problem - I can read your test file
without any problem, and all `indexed_gzip` unit tests pass.

While setting up an environment using mingw, I noticed that the latest version
of zlib available through mingw is 1.2.7. This is quite old, and zlib has had
numerous updates and fixes since t

[2020-01-17 11:58] mxmlnkn opened #25 "export_index without requiring a file"
This is just a feature suggestion but I think it'd be nice for `export_index` to be able to return a bytearray with the data instead of requiring a file name or file object.

I use `indexed_gzip` as a dependency in [`ratarmount`](https://github.com/mxmlnkn/ratarmount).
There, I create a temporary file, which I give to `export_index`, then I read it out and write the contents into a SQLite database

[2020-01-20 04:18] pauldmccarthy commented on #25
Sorry for the delay, I've been away from my computer. So it sounds like the original problem was not due to a bug in `indexed_gzip`?

Unfortunately, modifying the `IndexedGzipFile.export_index` method to return a byte array would not be straightforward as it results in a call to the underlying `zran_export_index` function which expects a `FILE *` struct (and hence a real file).

The `zran_export_i

[2020-01-20 05:15] pauldmccarthy commented on #25
The only way I can think of to get at the index data without saving it to the file system is to use a [named pipe](https://docs.python.org/3.6/library/os.html#os.mkfifo) (which still requires an entry to be created on the file system, but no data). The following hacky code does what you want:

[code]

[2020-01-20 12:23] mxmlnkn commented on #25
The named pipe might be a good idea to save "peak" disk space. Some tests for the index size:

 - `aclImdb_v1.tar.gz` (81MiB compressed, 284MiB uncompressed) -> 2.2MiB index (2.7% ~ 1/37th of the original, 1/130th compared to uncompressed)
 - `flower_photos.tar.gz` (219MiB compressed, 225MiB uncompressed) -> 1.8MiB index (0.8% ~ 1/125th of the original, 1/128th compared to uncompressed)
 - `CTU-13

[2020-01-21 12:34] pauldmccarthy commented on #25
Yes, the spacing is defined relative to the uncompressed data stream. You can adjust the seek point spacing using the `spacing` argument when creating an `IndexedGzipFile`. Increasing the spacing will reduce the number of seek points and thus the size of the index, at the cost of increasing the average seek time. It would be difficult to automatically calculate a suitable spacing for a given file,

[2020-01-21 13:37] mxmlnkn commented on #25
Ok, thank you. I overlooked the spacing argument, this helps. I'll keep the PR in mind but I think I'll first work with reusing locations I have to write to anyways.

[2020-01-21 13:37] #25 closed

[2020-02-29 13:11] neurolabusc opened #27 "Contrast to mgzip"
Perhaps the documentation to compare and contrast this to [mgzip](https://pypi.org/project/mgzip/). They seem to be different approaches to filling a similar niche.

As I understand it, the indexed_gzip generates a separate indexing file in memory or on disk (referred to as `.idx` in the manuscript and `.gzidx` in the repository web page). The focus is on random access to chunks. It looks like the

[2020-04-02 10:46] ljchang opened #28 "Problems with serialization using deepcopy"
Hi, thanks for this interesting package. We have been having some issues with deepcopy when using your package with nibabel. Unfortunately, I haven't spent much time trying to figure out why, but just wanted to raise this issue in case anyone else has been experiencing this in other contexts.  Here is an issue from our package with a little bit more information https://github.com/cosanlab/nltools/

[2020-04-02 11:41] pauldmccarthy commented on #28
Have you tried using a more recent version of nibabel? There was a bug related to closing file handles which was fixed in 2.3.1

[2020-04-02 13:18] ljchang commented on #28
Thanks for looking into this. I'm currently using nibabel==3.0.2. Definitely interested in potentially being able to use this package, but no rush. Thanks!

[2020-04-09 09:29] DarioDaF opened #29 "Win64 seek error on offsets larger than 32bit"
I used this library to access a big .tar.gz backup I have.

The file is fully indexed, I use windows 10 and CPython 3.8.0 (with static zlib from https://github.com/kiyolee/zlib-win-build.git).

The error is only on Windows, if I run it on linux with the same package (fresh install from pip 2020-04-09) it works.

The error is:

While seeking to 81120318464.

I suppose it is an overflow in the actua

[2020-04-14 08:17] pauldmccarthy commented on #29
Well spotted on the position+offset pattern - this does suggest an overflow. Do you happen to know the exact uncompressed (and compressed) sizes of your two files?

Unfortunately I don't have much time to track down Windows bugs - I don't have a physical machine, so have to debug remotely and non-interactively on appveyor, which is a slow and painful process. But I'll try and find some time to loo

[2020-04-14 09:47] DarioDaF commented on #29
Today I found the culprit, I enabled debugging and added print statements:

` # C log
Read succeeded - 1048576 bytes read [compressed offset: 1048586]
zran_seek(37856184832, 0)
_zran_get_point_with_expand(37856184832, 0, autobuild=1)
_zran_get_point_at(37856184832, c=0)
DF: tying to call FSEEK(@, 24846135507, SEEK_SET)
DF END: called FSEEK(@, 24846135507, SEEK_SET)
`

` # Pyx log
DEBUG:indexed_gzi

[2020-04-14 11:49] pauldmccarthy commented on #29
aah, nice work! I think I originally had `zran_tell` return `long` because the Linux `ftell` function returns `long`.

But this shows my lack of experience with/consideration for non-UNIX platforms.

Thanks for the PR - I'll try and spare a few hours over the next couple of days to sort out a new release.

[2020-04-17 14:46] pauldmccarthy commented on #27
Indeed, the main advantage of `indexed_gzip` is that it will work with *any* gzip file. My original motivation for writing it was to work with the large amounts of neuroimaging data in `.nii.gz` format - I figured that writing a library to improve read speeds would be easier than re-creating all of the files with random access support.

But, for users who have control over the creation of their ar

[2020-04-21 15:09] pauldmccarthy commented on #24
py38 builds are available for v1.0.0 and v1.1.0 - re-open this issue if you have problems

[2020-04-21 15:09] #24 closed

[2020-04-21 15:09] pauldmccarthy commented on #28
@ljchang hopefully this should be resolved in v1.1.0 (just uploaded to pypi, on conda-forge soon) - please re-open this issue if you still have problems

[2020-04-21 15:11] #28 closed

[2020-04-21 15:12] pauldmccarthy commented on #29
@DarioDaF Thanks again for your help - I've just uploaded v1.1.0 to pypi (and it will be on conda-forge soon) - please let me know if you have any more trouble.

[2020-04-21 15:12] #29 closed

[2020-04-21 15:34] pauldmccarthy commented on #27
Hey @neurolabusc, I've added a brief note in the readme trying to clarify (at a basic level) the intended usage of `indexed_gzip` - feel free to suggest revisions to it

[2020-04-26 12:12] #23 closed

[2020-04-26 12:44] lmdu opened #33 "zran read performance or inflate performance"
Hi, I have used your project to develop pyfastx. It's a nice tool. In my case, I need to do large numbers of seeks for random access to content from super large gzipped file (~20Gb). However, when use zran_read to read file, it was slow. I have test the source code and found inflate consumed 0.01s per task. When we do 100000 seek/reads, that may be a long time.

The code consumed more time was sho

[2020-04-27 10:56] pauldmccarthy commented on #23
Hi @lmdu, thanks for closing the issue - did you identify the cause of this problem?

[2020-04-27 11:05] pauldmccarthy commented on #33
The zip `inflate` function is performing the actual decompression, so there is not much that can be done if it is the bottleneck.

If `inflate` is being called many times, the one thing you could try is to increase the size of the read buffer (where compressed data is read into from the file - the `readbuf_size` parameter to `zran_init`), and/or increasing the size of your own read buffer - i.e. t

[2020-05-24 17:38] mxmlnkn opened #36 "Add support for SEEK_END"
IndexedGzipFile.seek does not support SEEK_END. I don't see why SEEK_SET is support but not seek end. Shouldn't the total decompressed file length be available if there is an index? And if not just force building the index first.

[2020-05-30 21:27] MarkWieczorek commented on #36
I too would like to ask that support be added for SEEK_END, of the form: `f.seek(0, os.SEEK_END)`.

The reason for doing this is that I would like to open a large gzipped text file, and then read only the last line of the file. One way to do this is to seek to the end, and then read backwards until you get to a new line. Doing this with gzip itself is prohibitively slow....

Here is an example of

[2020-05-30 21:49] pauldmccarthy commented on #36
@mxmlnkn the reason that I didn't implement `SEEK_END` was because I never had the need for it. However, conditional support for it should be a trivial change to `zran_seek`, e.g. (pseudo-ish code):
[code]

@MarkWieczorek What you are asking for is not possible with the gzip file format - in order to read the last byte of a gzip file, you must decompress the entire file - there is no way around th

[2020-05-30 22:01] MarkWieczorek commented on #36
I understand that I need to decompress the entire file: I have no other choice!

The problem is that if I seek backwards from the end of the file using gzip, I think that the file gets decompressed several times: Doing this is many times slower than just using readline() until arriving at the end of the file...

[2020-05-30 22:12] mxmlnkn commented on #36
@MarkWieczorek If you only want the the last line and knowing that you need to decompress it first anyways, you could simply adjust your find-last-line algorithm. You only have to keep track of the current line while decompressing and voilà.

1. Decompress one character and test for end-of-file
2. If character is not a new line, append it to the current line buffer and go to 1.
3. If character is

[2020-06-02 02:42] lmdu commented on #33
Thank you for your reply! I used multiprocessing module to start multiple processes to read content from gzipped file simultaneously. For large amounts of seeks and reads, this can reduce much time for large file.

[2020-06-24 10:03] pauldmccarthy commented on #33
@lmdu feel free to re-open this if you think there is a problem with indexed_gzip.

[2020-06-24 10:03] #33 closed

[2020-06-24 20:54] #36 closed

[2020-06-25 16:11] mathieuboudreau commented on #36
p.s. just to let you know that this broke loading images for our AxonDeepSeg addon. Stoyan will be opening an issue about it.

[2020-06-25 16:27] pauldmccarthy commented on #36
Sigh. Reproduced. I'll beat you to opening a new issue.

[2020-06-25 16:45] pauldmccarthy opened #38 "indexed_gzip error when loading data from nibabel"
As of `indexed_gzip` 1.3.0, this code:

[code]

results in this error:

[code]

This is due to some [slightly dubious logic](https://github.com/nipy/nibabel/blob/8ed5f746a8973946778eef324b6a0bf538beb7d0/nibabel/volumeutils.py#L501) in `nibabel` - it blindly attempts to memory-map an open file object, and silently falls back to file-based random access if the memory map attempt raises one of a fixe

[2020-06-25 17:30] effigies commented on #38
Is it reasonable to subclass `NotCoveredError` from `ValueError`? As I type it, though, it does seem semantically dubious...

[2020-06-25 17:35] pauldmccarthy commented on #38
@effigies It's easy to get caught up in semantics, isn't it :)

If `nibabel` were to recognise `IndexedGzipFile` objects as compressed files, then this error would never happen. But I really shouldn't have changed the error type either.

I think that reverting to `ValueError`, combined with patching `nibabel`, is the way to go. The former will fix the situation for users of the current version of

[2020-06-25 17:41] #38 closed

[2020-06-25 17:44] pauldmccarthy commented on #38
CI is unfortunately quite slow, but hopefully a new version will be up on PyPI by the end of today*

*intentionally not specifying the time zone. Let's go with Hawaii.

[2020-06-26 20:34] effigies opened #40 "NoHandleError in 1.3.1"
I'm going to release a nibabel soon, but just FYI:

[code]

[2020-06-26 20:35] effigies commented on #40
https://travis-ci.com/github/nipy/nibabel/jobs/354026554

[2020-06-26 21:21] effigies opened #41 "Plans for Python 2.7 support"
Hi Paul,

Just want to get a sense of what your plans are for maintaining Python 2.7 support. Knowing this can help set version constraints on nibabel's legacy (2.5.x) series.

[2020-06-27 10:18] pauldmccarthy commented on #40
Yes, I noticed this as well. Haven't looked into it yet, but I am confused that it wasn't happening to me when running locally - I've only seen it in CI. Will look into it today.

[2020-06-27 10:21] pauldmccarthy commented on #41
Hey Chris, I don't really have any plans for this project - it's basically in maintenance mode, and the Python side of the code is quite small and easy to maintain. So at this point in time I don't see any need to remove Python 2.7 support.

[2020-06-27 11:50] pauldmccarthy commented on #40
Hmm, I'm not sure if there's a solution to this one ... we may have to live with the fact that `nibabel<=3.1.0` is incompatible with  `indexed_gzip>=1.3.0` (edit: possible solution outlined at the bottom). Minimal reproducible example (with `nibabel==3.1.0`, `indexed_gzip==1.3.1`):

[code]

This error is occurring on the _second_ attempt to load data from an `IndexedGzipFile` object.

On the first

[2020-06-27 11:59] pauldmccarthy commented on #40
I can imagine a scenario where somebody was using `keep_file_open=True`, and was loading a `.nii.gz` file which somehow has the same compressed and uncompressed sizes, so `mmap.mmap` would work, and they would get a data array filled with compressed garbage. This would be hilarious, but I think also extremely unlikely.

[2020-06-30 14:26] #40 closed

[2020-07-25 01:53] #41 closed

[2020-10-04 20:29] zvasicek opened #43 "Missing zlib.dll"
I tried this library on Windows but zlib.dll is missing when installed via pip. Tested with 64-bit Python v3.8. It would be great if you could link the zlib library statically and remove this dependency. It is not easy to find the latest version of zlib for 64-bit system. Thank you

[2020-10-25 20:22] effigies opened #44 "ARM64 builds?"
Hi Paul, I was just curious if there's any plan to build ARM64 (and other) wheels. Travis now [supports](https://docs.travis-ci.com/user/multi-cpu-architectures/) other architectures, so I'm adding support for those as numpy wheels come online, and it would be nice to get indexed-gzip tests running on those, if that's something you're interested in.

[2020-10-26 17:12] pauldmccarthy commented on #44
Hey @effigies I seem to remember having trouble with ARM a while back, although can't remember what that trouble was, nor why I was trying to compile for ARM. But I'm happy to look into it again - will try and remember to have play over the next couple of weeks.

[2020-11-16 08:57] pauldmccarthy commented on #43
I don't feel particularly strongly about this, but to be honest, I am erring on the side of leaving things the way they are - `indexed_gzip` is designed as a replacement for the built-in Python `gzip` library, and even the latter won't work if you don't have `zlib` installed.

You might want to consider using conda, which makes it very easy to install non-Python dependencies.

[2020-12-12 14:33] mxmlnkn opened #49 "Segmentation fault when trying to construct IndexedGzipFile with wrong argument"
Consider this accident on my part:

[code]

This will segfault! The problem was how I specified the argument. Changing it to `IndexedGzipFile( fileobj = fobj )` fixes the problem. However, I think it still should not crash even if wrongly used. It would be nice if an exception was thrown instead. Especially as I could see this happen more often because the [gzip module](https://docs.python.org/3/l

[2020-12-14 12:50] pauldmccarthy commented on #49
This is a reasonable suggestion - I've tried to make the `IndexedGzipFile` interface compatible with that of `GzipFile`, so I'm not sure why I didn't allow the first argument to be either a file object or a path..

[2021-01-02 11:21] pauldmccarthy commented on #49
Actually, I've just discovered that `gzip.GzipFile` does *not* allow you to pass either a file name or a file object:

[code]

Oh well, I've already implemented it for `IndexedGzipFile`...

[2021-01-02 12:19] #49 closed

[2021-01-03 13:31] pauldmccarthy commented on #43
As part of migrating from appveyor/travis to github actions, I updated the Windows build procedure to compile the zlib sources in as part of the Windows binary wheels. So for `indexed_gzip` 1.4.0, `zlib` should no longer be required in order to use `indexed_gzip`.

[2021-01-03 13:31] #43 closed

[2021-02-01 15:29] epicfaace opened #54 "File object support?"
I'd like to use indexed_gzip with a file object (in my case, a .tar.gz file that is streamed from Azure Blob Storage). I already am able to create an index file using IndexedGzip (because the file is initially locally stored on creation), but I don't want to download the entire file in order to use the IndexedGzip index to read the archive later. How can I do this?

Related: https://github.com/mxm

[2021-02-01 15:54] epicfaace commented on #54
I can't just pass in `BytesIO()` to the `fileobj` argument because `IndexedGzip` seems to expect that `.fileno()` is defined.

[2021-02-01 18:45] pauldmccarthy commented on #54
Hey @epicfaace, unfortunately this is not possible at this point in time, because the C code which drives `indexed_gzip` is tightly coupled to reading from a real file (specifically the use of `fread`, `fseek` and `ftell`, on a `FILE` struct).

Technically there are no barriers to making this possible, as the `zlib` interface is completely decoupled from the concept of a file. However it would be

[2021-02-01 18:54] epicfaace commented on #54
Thanks for your reply. I'm willing to help change `zran.c` to get this to work, but I'm trying to better understand how such a change would work / be designed. Do you mind giving some guidance on this? Here's what I'm thinking:

Is the problem that zran.c requires a `FILE` struct in the first place, or specifically the usage of `fread`, `fseek` and `ftell`?

If it's the former, what kind of data s

[2021-02-02 14:51] epicfaace commented on #54
Okay, I think I see what would need to be changed. Essentially, I'd need to pass down a file-like object from Python to C, then use code such as what's mentioned here (https://www.geeksforgeeks.org/reading-python-file-like-objects-from-c-python/) to replace the calls to `fread`, `fseek`, and `ftell`. Does that seem like the best way to go about this, or do you have any suggestions as to other thin

[2021-02-02 16:05] pauldmccarthy commented on #54
Sorry for the delay; the manpage for `fmemopen` says that there is no file descriptor associated with, and that `fileno` will error on, the created stream, so that's unlikely to provide a work-around.

Your suggestion of replacing the `FILE *` references in `zran.(h|c)` with a reference to a Python file-like object has promise. I originally kept the `zran` module as pure C (i.e. de-coupled from Py

[2021-03-13 14:58] epicfaace commented on #54
Fixed by #55.

[2021-03-13 14:58] #54 closed

[2021-03-20 18:51] epicfaace opened #62 "PyErr_Occurred should be set to a pointer, not an int"
When building, I get:

[code]

[2021-03-21 10:55] smilerish commented on #44
Hi, I'm wondering if this is related. I've 'successfully' built indexed-gzip from source on a Raspberry Pi (ARM v7h) but it doesn't appear to be working when called from [ratarmount](https://github.com/mxmlnkn/ratarmount). I get many warnings when compiling, most of them being `ISO C forbids conversion of object pointer to function pointer type [-Wpedantic]`, but no errors. I also get no runtime e

[2021-03-22 09:28] #62 closed

[2021-03-22 17:41] pauldmccarthy commented on #44
Hi @smilerish, I'm afraid I won't be able to provide official armv7 builds at the moment, but I am hoping to add arm64 builds in the next release.

I have made some changes on the `mnt/32bit` branch - is there any chance you could try that version?

[2021-03-23 12:03] pauldmccarthy commented on #44
@effigies It only took me 6 months, but ARM64 (`aarch64`) builds are now up on PyPi!

@smilerish The changes I mentioned have been released in version 1.5.3 - would you be able to try that out?

[2021-03-23 13:24] effigies commented on #44
Nice! Unfortunately, TravisCI did stop running our builds a while back... I've asked them to put nipy on a open source plan, so we can see if we can start testing again.

[2021-03-23 13:37] pauldmccarthy commented on #44
@effigies You might be able to knock something up in GHA using the [`docker/setup-qemu-action`](https://github.com/marketplace/actions/docker-setup-qemu)  - i.e. install qemu, then run your tests with your ARM docker image of choice. It was easy for me, because [cibuildwheel](https://cibuildwheel.readthedocs.io/en/stable/) does all the hard work!

[2021-03-23 15:31] smilerish commented on #44
I'll give it a go! It's okay, I wasn't looking for builds, just debugging the code so a local build works. I'll let you know how it goes!

[2021-03-27 05:39] RyleeThompson opened #68 "How to read files in a gzip individually?"
Hi,
I'm struggling to read pickled files from a gzip using this library. I have arbitrary Python objects that I pickle into separate files and then tar, and I want to be able to read them individually. I made this simple example just pickling lists, but I'm not sure how to get it to work (or if it's doable with this library):

[code]

The error I get is:
[code]

[2021-03-27 09:16] pauldmccarthy commented on #68
A tar file is not a raw sequence of the stored files - you would have to take the per-file header block into account - see https://en.wikipedia.org/wiki/Tar_(computing)#File_format

Perhaps the best option is to use the `tarfile` module to read your objects back in? This works for me:

[code]

[2021-03-27 16:19] RyleeThompson commented on #68
This is perfect, thank you for the help and quick reply. Feel free to close

[2021-03-28 13:37] #68 closed

[2021-05-16 02:33] epicfaace opened #69 "Trailing null bytes cause errors when reading"
I'm running into an interesting error in which trailing null bytes in a gzip file cause errors when reading a gzip file using `indexed_gzip`. Here's the closest reproduction (the trailing null bytes occur when I'm using bsdtar to tar and gzip a directory and print it to stdout, because in that case, bsdtar pads the gz file with null bytes):

[code]

You can see the contents of /tmp/out1.tar.gz (pa

[2021-05-16 02:36] epicfaace commented on #69
Note that [bsdtar's documentation does mention](https://opensource.apple.com/source/libarchive/libarchive-33.20.2/libarchive/doc/text/bsdtar.1.txt.auto.html) this behavior of padding gz files:

[code]

I'm a bit at a loss as to why padding a gz file with null bytes would cause issues when using it with IndexedGzipFile. Any thoughts @pauldmccarthy ?

[2021-05-16 02:39] epicfaace commented on #69
Okay, I think I found a much simpler reproduction of this issue:

[code]

This consistently gives the error: "zran_read returned error (-3)"

[2021-05-16 02:40] epicfaace commented on #69
This is how cpython handles it: https://github.com/python/cpython/blob/main/Lib/gzip.py#L534-L541

[2021-05-16 22:31] epicfaace opened #71 "Can't install vcpython27"
The script install_vcpython27.sh is failing now with the following error:

It seems that Microsoft removed support for this package in April 2021 and it's been deprecated from Chocolatey. See https://github.com/joerick/cibuildwheel/pull/649 and https://cibuildwheel.readthedocs.io/en/stable/cpp_standards/#windows-and-python-27.

I guess we might have to stop building wheels for Windows on Python 2.

[2021-05-17 12:57] pauldmccarthy commented on #69
Hi @epicfaace, thanks for doing the research. I didn't know about padding bytes, as I've always gone to the [gzip RFC](https://datatracker.ietf.org/doc/html/rfc1952), which doesn't mention them at all. The ref in the cpython code (http://www.gzip.org/#faq8) doesn't seem to exist anymore, but I did find this: https://www.gnu.org/software/gzip/manual/gzip.html#Tapes

This has actually reminded me th

[2021-05-18 13:58] pauldmccarthy commented on #71
Thanks for the info - I'm inclined to drop support, and add it back in if anybody complains vehemently ..

[2021-05-18 14:27] #71 closed

[2021-05-20 12:07] pauldmccarthy opened #74 "ENH: Create index on reads, not on seeks"
Currently the index is built:
 - On calls to `zran_seek(n)` - the index is bulit to cover up to position `n` in the uncompressed data
 - On *successive* calls to `zran_read` - when reading from position 0, one seek point is created at the beginning of the stream, but then no more points are created. If another call to `zran_read` is then made, the index is built to cover up to the position that th

[2021-05-22 12:36] #69 closed

[2021-08-04 10:09] HippocampusGirl opened #80 "CrcError with fMRIPrep"
With version 1.6.1, I am getting the following error reading a NIfTI file generated by nibabel. Specifically, the file is created by `FixHeaderApplyTransforms (niworkflows v1.3.4)`, which is part of fMRIprep.

[code]

With version 1.5.3, the file loads fine. Please let me know if I can e-mail you the file in question.

[2021-08-04 10:22] pauldmccarthy commented on #80
Hi @HippocampusGirl, is the CRC of the file valid? You can check by running `gzip -t vol0245_xform-00245.nii.gz`.

If it is not valid, then you may want to check with the fMRIprep people to see how the file has been created.

If it is valid, then this suggests a problem with `indexed_gzip` - in this case it would be great if you could share the file with me.

In any case, as an interim workaround,

[2021-08-04 10:24] HippocampusGirl commented on #80
Yes, the CRC is valid
[code]

I am sadly unable to pass `skip_crc_check=True`, as I am using `nibabel`, which does not allow the user to configure this option.

[2021-08-04 10:40] HippocampusGirl commented on #80
I am unable to share the file publicly. Could you provide me your e-mail address or any other way to send it? My e-mail address is <lea.waller@charite.de>

[2021-08-04 11:00] pauldmccarthy commented on #80
Sure, no problem - I'll send you an email now..

[2021-09-01 15:53] effigies opened #81 "Add filename to exception messages, when known"
It would be helpful for debugging issues to quickly identify the file that produced an error. Would it be possible for `indexed-gzip` to add the filename to exception messages when `_IndexedGzipFile.filename is not None`?

[2021-09-02 08:22] pauldmccarthy commented on #81
Hi @effigies, that sounds like a perfectly reasonable thing to do - I should be able to have a patch release out later today..

[2021-09-02 09:04] pauldmccarthy commented on #81
Are there any specific exceptions you'd like covered, in addition to the ones in #84?

[2021-09-02 13:47] effigies commented on #81
Thanks! The main ones I've encountered are covered. Left a small note over in #84.

[2021-09-02 18:53] #81 closed

[2021-09-13 22:33] mxmlnkn opened #85 "Relax mode check"
Hi,

I love the newly added support for Python file-like objects!

I'm currently trying to use that with a file-object returned by `zipfile`, however, I found that `zipfile` only supports `r` and `w` modes but `indexed_gzip` checks that the mode is exactly `rb`. Would it be possible to relax that mode check to also accept `r`? I only see problems if it was something like `rt` or `w` but I'm not su

[2021-09-14 11:01] pauldmccarthy commented on #85
Hi @mxmlnkn, hmm, annoying - it seems that the `zipfile` module uses a different convention than the built-in `open` function - for the latter, `'r'` is equivalent to `'rt'`, whereas for a `ZipFile`, and files opened via `ZipFile.open`, `'r'` is equal to `'rb'`.  So it's not possible to use `fileobj.mode` to distinguish between a text or binary stream. I'd have to use `fileobj.peek` or something,

[2021-09-14 12:11] mxmlnkn commented on #85
So it really is zipfile, which is wrong here :/. Thank you for still accounting for that edge case. I agree that peek might not always be available. It might be even better to use a combination of read and then seek back to the previous offset but as you said it might not be worth for a simple argument check.

[2021-09-14 12:37] #85 closed

[2021-09-29 14:03] effigies commented on #80
Seeing this in an independent reproduction here: https://github.com/nipreps/fmriprep/issues/2549

These files are being [generated with nibabel](https://github.com/nipreps/niworkflows/blob/32a33d61ab64e262a4ebcf8afcf232d70c2f92b3/niworkflows/utils/images.py#L95-L96).

[2021-12-27 13:53] moceap opened #88 "Can't install on Fedora"
[moceap@mosaab-pc ~]$ sudo pip3 install indexed-gzip
[sudo] password for moceap:
Collecting indexed-gzip
  Using cached indexed_gzip-1.6.4.tar.gz (73 kB)
Building wheels for collected packages: indexed-gzip
  Building wheel for indexed-gzip (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0]

[2021-12-27 13:58] moceap commented on #88
I can install it by:

sudo dnf install python-indexed_gzip

So, the needed now to fix PIP installer.

[2021-12-27 14:17] pauldmccarthy commented on #88
Hi @moceap , I haven't released binaries for Python 3.10 yet. In the meantime, to compile indexed_gzip on your machine you will need to have cython (and a C compiler toolchain) installed.

[2022-01-15 13:51] mxmlnkn opened #89 "Decompression performance"
Hello,

I [noticed](https://raw.githubusercontent.com/mxmlnkn/ratarmount/master/benchmarks/plots/archivemount-comparison.png) that `indexed_gzip` seems to be 10 times slower than archivemount and fuse-archive when decoding large gzipped TARs with ratarmount. I would think that both use zlib, which makes this surprising to me. Are you compiling with `-O3`? If not, would that help? Or maybe are ther

[2022-01-15 23:38] mxmlnkn commented on #89
Archivemount does not use zlib directly but libarchive, hence the name. But libarchive seems to use [zlib](https://github.com/libarchive/libarchive/blob/master/libarchive/archive_read_support_filter_gzip.c#L47), which makes some of the timing differences a bit weirder.

Here are some more low-level timings for decompressing 397MiB gzipped data to to 512 MiB base64-encoded random data (so basically

[2022-01-17 13:59] pauldmccarthy commented on #89
Hi @mxmlnkn, I haven't spent any time optimising the indexed_gzip codebase, so I'm sure performance could be improved. The core of indexed_gzip is essentially an adaptation of the original `zran.c` example that ships with the zlib source code. It bears little resemblance to the original version, but it does share the same fundamental design for reading/inflation.

The conda-forge packages are buil

[2022-01-17 18:09] mxmlnkn commented on #89
I get some very weird results when testing out these parameters. When I increase the buffers or even just the spacing, then the time slows down a **lot** more. This might explain why I observed the 10x slower speed with ratarmount! I think, I change the default spacing to 16 MiB.

[code]

Note also the weird floating point exception when I try the large buffer spacing sizes you recommended.

Also,

[2022-01-18 18:03] pauldmccarthy commented on #89
That does sound strange - I'll look into it when I get a minute...

[2022-02-19 10:56] mxmlnkn commented on #89
So I did try to look at the code and did some benchmarks and I arrived at the conclusion that the underlying problem is that `zran_read` always tries to seek from an index point even if no seek was actually applied since the last call to `zran_read`. But I don't feel up to the task of fixing it because that would mean checking when seeking is actually necessary and also storing the zlib state of t

[2022-02-19 12:35] mxmlnkn commented on #89
I saw that you are already using a BufferedReader and that there even is a `buffer_size` argument for `IndexedGzipFile`. I added a better default if it has not been specified, which increases performance by ~10x:

[code]

[2022-04-12 14:13] effigies commented on #44
Just checked back in and `indexed_gzip` is getting installed on our aarch64 CI builds.

[2022-04-12 14:13] #44 closed

[2022-04-15 09:22] pauldmccarthy commented on #88
Wheels are now available for python 3.10

[2022-04-15 09:22] #88 closed

[2022-06-02 17:56] #89 closed

[2022-07-12 12:11] musicinmybrain opened #101 "Consider running tests in parallel by default"
If there aren’t any known reasons not to do so (filesystem race conditions, etc.), consider using [pytest-xdist](https://pypi.org/project/pytest-xdist/) to run the tests in parallel by default.

In a trial on a machine with 16 physical cores and SMP disabled, using Python 3.10.5, this sped up the overall test suite from 13m8 to 5m17s.

I can offer a simple PR if you like the idea.

One can always

[2022-07-13 10:21] pauldmccarthy commented on #101
Hi @musicinmybrain, I wouldn't personally benefit from this, as I leave the bulk of the tests to be run using CI (and thus parallelised across platforms/archtectures/Python versions). However, I don't think there would be any problem with this, so feel free to open a PR.

[2022-07-13 13:20] musicinmybrain commented on #101
Thanks for your response!

You know, if it doesn’t benefit you and the CI is already parallelized by environment—and given how easy it is to manually run the tests in parallel—I’m inclined to say it isn’t worth adding the test dependency on `pytest-xdist` to do it upstream.

[2022-07-13 13:20] #101 closed

[2022-07-14 09:09] pauldmccarthy commented on #101
@musicinmybrain No problem; but just to be clear, I have no problems with this change  if _you_ would benefit from it :)

[2022-08-17 14:07] epicfaace opened #102 "Can't create indexes from un-seekable fileobj's"
It would be good to be able to create indexes from a fileobj that is un-seekable at the time of index creation. @pauldmccarthy do you think that is possible given the code, or does the code rely fundamentally on seeking somewhere to create the index?

[2022-08-19 08:37] pauldmccarthy commented on #102
Hi @epicfaace, I don't have a problem with this - will continue the discussion at #103

[2022-09-12 10:19] #102 closed

[2022-10-19 17:31] epicfaace opened #107 "For unseekable files, can't build full index by reading the entire file"
For unseekable files, can't build full index by reading the entire file. I have to run `build_full_index`, but I can't just instead read the entire file to build the index (which ideally should be equivalent and should work as well). See https://github.com/pauldmccarthy/indexed_gzip/pull/106 for a reproduction.

[2022-10-20 19:08] epicfaace commented on #107
No worries! I don't know if it's related to #74, but perhaps it is. I'll take a look.

cc @wwwjn -- I think this is the issue we're stuck on

[2022-11-02 17:39] wwwjn commented on #107
Hi @pauldmccarthy, do you have some bandwidth to look into this issue or its there any progress? Thanks a lot!

[2022-11-03 02:01] epicfaace commented on #107
He's on holiday 🙂 but we should probably try to do as much as we can to help in the meantime -- maybe debugging, trying to find a minimal reproducible example, seeing if we can also figure out a fix

[2022-11-30 22:58] epicfaace commented on #107
Hi @pauldmccarthy , wanted to see if you might have gotten a chance to look into this issue!